{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load number_filters %}


{% block title %} قائمة حسابات الدمغة {% endblock %}

{% block content %}
{% if messages %}
    <div class="mt-8">
        {% for message in messages %}
            <div class="p-4 rounded-lg border 
                        {% if message.tags == 'success' %}
                            bg-green-100 text-green-800 border-green-300
                        {% elif message.tags == 'error' %}
                            bg-red-100 text-red-800 border-red-300
                        {% else %}
                            bg-gray-100 text-gray-800 border-gray-300
                        {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <div class="mt-10 flex flex-col gap-2 lg:flex-row justify-between ">
            <a href="{% url 'add_stamp' %}"
        class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition-all">
            ➕ إضافة حساب دمغة
        </a>
        <a href="{% url 'grouped_stamps' %}" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition-all">مجموعة حسب الشركة</a>
    </div>
    <div>
        <form method="GET" class="mt-6 gap-4 flex items-center justify-end">

            <!-- Preserve filters -->
            <input type="hidden" name="company" value="{{ company_filter }}">
            <input type="hidden" name="date_from" value="{{ date_from }}">
            <input type="hidden" name="date_to" value="{{ date_to }}">
            <input type="hidden" name="sort" value="{{ request.GET.sort }}">

            <select name="download"
                class="border p-2 font-bold border-gray-300 rounded-xl">
                <option value="">تحميل كـ...</option>
                <option value="pdf">📄 PDF</option>
                <option value="excel">📊 Excel</option>
            </select>

            <button name="download_btn" value="1"
                class="bg-blue-600 text-white px-4 py-2 rounded-lg">
                تحميل
            </button>
        </form>

    </div>
    <div class="bg-white shadow-xl rounded-xl overflow-hidden mt-6 border border-gray-200">
        <!-- العنوان -->
        <div class=" flex flex-col lg:flex-row items-center justify-between bg-gradient-to-l from-green-100 to-green-50 border-b border-green-200  px-6 py-4 ">
            <h2 class="text-xl font-bold text-green-800 flex items-center lg:gap-2 lg:w-1/3">
                💰 إجمالي الدمغة بالمليون:
                <span class="text-green-900 text-2xl">{{ total_all_companies|millions }}</span>
            </h2>

            <form method="GET" class="flex gap-4 items-center justify-center flex-wrap mt-2 lg:mt-0 lg:w-2/3">
                <select name="company" class=" border p-2 font-bold border-gray-300 rounded-xl bg-white text-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="">كل الشركات</option>
                    {% for c in companies %}
                        <option value="{{ c.id }}" {% if company_filter == c.id|stringformat:"s" %}selected{% endif %}>
                            {{ c.name|truncatewords:2 }}
                        </option>
                    {% endfor %}
                </select>

                <!-- From date -->
                <div class="flex flex-wrap gap-4 w-full lg:w-auto justify-center">
                    <div class="flex flex-col ">
                        <label class="text-sm font-semibold text-gray-600 mb-2">من تاريخ</label>
                        <input type="date"
                            name="date_from"
                            value="{{ date_from }}"
                            class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>

                    <!-- To date -->
                    <div class="flex flex-col ">
                        <label class="text-sm font-semibold text-gray-600 mb-2">إلى تاريخ</label>
                        <input type="date"
                            name="date_to"
                            value="{{ date_to }}"
                            class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>
                </div>
                <div class="flex gap-4 flex-wrap">
                    <button class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-all">
                        بحث 🔍
                    </button>

                    <a href="{% url 'stamp_list' %}"
                    class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400">
                    اعاده تعيين 🔄
                    </a>
                </div>
            </form>
        </div>

        <div class="overflow-auto max-h-[600px]">
            <table class="min-w-full text-right border border-gray-200">
                <thead class="bg-gray-100 text-gray-700 sticky top-0 z-10 shadow-sm">
                    <tr class="text-sm lg:text-lg font-bold">
                        <th class="p-3 border border-gray-200">الشركة</th>
                        <th class="p-3 border border-gray-200">
                            تاريخ المطالبه  
                            <a href="?{% querystring request sort='invoice_date' %}">⬆️</a>
                           <a href="?{% querystring request sort='-invoice_date' %}">⬇️</a>
                        </th>
                        <th class="p-3 border border-gray-200">قيمة الأعمال</th>
                        <th class="p-3 border border-gray-200">عدد النسخ</th>
                        <th class="p-3 border border-gray-200">النسبة</th>
                        <th class="p-3 border border-gray-200">إجمالي الدمغه للمطالبة</th>
                    </tr>
                </thead>

                <tbody>
                    {% for s in page_obj %}
                    <tr class="hover:bg-gray-50 transition-all font-medium text-lg">
                        <td class="p-3 border border-gray-200 ">{{ s.company.name }}</td>
                        <td class="p-3 border border-gray-200 ">{{ s.invoice_date|date:"Y-m-d" }}</td>
                        <td class="p-3 border border-gray-200">{{ s.value_of_work|millions }}</td>
                        <td class="p-3 border border-gray-200">{{ s.invoice_copies }}</td>
                        <td class="p-3 border border-gray-200">{{ s.stamp_rate }}</td>
                        <td class="p-3 border border-gray-200  text-blue-700">{{ s.d1|millions }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center p-6 border border-gray-200 text-gray-500">
                            لا توجد بيانات حتى الآن.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Pagination -->
            {% if page_obj.has_other_pages %}
            <div class="flex justify-center items-center gap-2 py-4">
                {% if page_obj.has_previous %}
                    <a href="?{% querystring request page=page_obj.previous_page_number %}"
                    class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">‹ السابق</a>
                {% endif %}

                <span class="px-4 py-1 bg-green-100 text-green-800 rounded">
                    الصفحة {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% querystring request page=page_obj.next_page_number %}"
                    class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">التالي ›</a>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </div>





{% endblock %}
