{% extends "base.html" %}
{% load static %}

{% block title %} تسجيل الدخول{% endblock %}

{% block content %}

<div class="mt-20 flex items-center justify-center px-4">

    <div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
            تسجيل الدخول إلى حسابك
        </h2>

        <!-- Messages -->
        {% include "includes/alerts.html" %}

        <form method="POST" class="flex flex-col gap-4">
            {% csrf_token %}

            <!-- Username -->
            <div>
                <label class="block text-sm font-semibold text-gray-600 mb-2">
                 البريد الإلكتروني 
                </label>
                {{ form.email }}
                {% if form.email.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ form.email.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Password -->
            <div>
                <label class="block text-sm font-semibold text-gray-600 mb-2">
                    كلمة المرور
                </label>
                {{ form.password }}
                {% if form.password.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ form.password.errors.0 }}</p>
                {% endif %}
            </div>

            <button type="submit" class="bg-green-600 hover:bg-green-700 text-white py-3 rounded-xl font-semibold transition">
                تسجيل الدخول
            </button>
        </form>
        <p class="text-sm text-gray-600 mt-4 text-center">
            ليس لديك حساب؟
            <a href="{% url 'register' %}" class="text-green-600 font-semibold hover:underline">
                إنشاء حساب جديد
            </a>
        </p>
        <p class="text-sm text-gray-600 mt-2 text-center">
            <a href="{% url 'forgot_password' %}" class="text-green-600 font-semibold hover:underline">
                هل نسيت كلمة المرور؟
            </a>
    </div>

{% endblock %}

