{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load number_filters %}



{% block title %} قائمة حسابات الدمغات المتوقعه {% endblock %}

{% block content %}
<div class="mt-10">
{% include "includes/alerts.html" %}
</div>

    <div class="mt-10 flex flex-col gap-2 md:flex-row justify-between items-center">
            <a href="{% url 'add_expected_stamp' %}"
        class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition-all">
            ➕  إضافة حساب دمغة متوقعه
        </a>
        <a href="{% url 'grouped_expected_stamps' %}" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition-all">مجموعة حسب الشركة</a>
    </div>
     <div>
        <form method="GET" class="mt-6 gap-4 flex items-center justify-center sm:justify-start">
            <!-- Preserve filters -->
            <input type="hidden" name="sector" value="{{ sector_filter }}">
            <input type="hidden" name="date_from" value="{{ date_from }}">
            <input type="hidden" name="date_to" value="{{ date_to }}">
            <input type="hidden" name="sort" value="{{ request.GET.sort }}">
            
            <select name="download" class="select select-success">
                <option value="">تحميل كـ...</option>
                <option value="pdf">📄 PDF</option>
                <option value="excel">📊 Excel</option>
            </select>

            <button name="download_btn" value="1"
                class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-all">
                تحميل
            </button>
        </form>
    </div>
    <div class="bg-white shadow-xl rounded-xl overflow-hidden mt-6 border border-gray-200">
    <!-- العنوان -->
    <div class="overflow-auto flex flex-col md:flex-row items-center justify-between bg-gradient-to-l from-green-100 to-green-50 border-b border-green-200 px-6 py-4 ">
        <div class="flex flex-col md:flex-row items-center md:gap-2 md:w-1/4">
        <h2 class="text-xl font-bold text-green-800 ">
            💰 إجمالي الدمغة بالمليون:
            <div class="text-green-900 text-2xl text-center">{{ total_all_sectors|millions }}</div>
        </h2>
        </div>

        <form method="GET" class="flex gap-4 items-center md:justify-center  flex-wrap mt-2 md:mt-0 md:w-3/4">
            <div class="flex flex-wrap w-full md:w-1/4 justify-center">
            <select name="sector" class="select select-success">
                <option value="">كل القطاعات</option>
                {% for s in sectors %}
                    <option value="{{ s.id }}" {% if sector_filter == s.id|stringformat:"s" %}selected{% endif %}>
                        {{ s.name }} 
                    </option>
                {% endfor %}
            </select>
            </div>

            <!-- From date -->
            <div class="flex flex-wrap gap-4 w-full md:w-auto justify-center">
                <div class="flex flex-col ">
                    <label class="text-sm font-semibold text-gray-600 mb-2">من تاريخ</label>
                    <input type="date"
                        name="date_from"
                        value="{{ date_from }}"
                        class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>

                <!-- To date -->
                <div class="flex flex-col ">
                    <label class="text-sm font-semibold text-gray-600 mb-2">إلى تاريخ</label>
                    <input type="date"
                        name="date_to"
                        value="{{ date_to }}"
                        class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
            </div>
            <div class="flex gap-4 flex-wrap w-full md:w-auto justify-center">
                <button class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-all">
                    بحث 🔍
                </button>

                <!-- زر Reset -->
                <a href="{% url 'expected_stamp_list' %}"
                class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400">
                    إعادة التعيين 🔄
                </a>
            </div>

        </form>

    </div>

    <div class="overflow-auto max-h-[600px]">
    <table class="min-w-full text-right border border-gray-200">
        <thead class="bg-gray-100 text-gray-700 sticky top-0 z-10 shadow-sm">
            <tr class="text-sm lg:text-lg font-bold">
                <th class="p-3 border border-gray-200">القطاع</th>
                <th class="p-3 border border-gray-200">
                    تاريخ المعامله  
                    <a href="?{% querystring request sort='invoice_date' %}">⬆️</a>
                    <a href="?{% querystring request sort='-invoice_date' %}">⬇️</a>
                </th>
                <th class="p-3 border border-gray-200">قيمة الأعمال</th>
                <th class="p-3 border border-gray-200">عدد النسخ</th>
                <th class="p-3 border border-gray-200">النسبة</th>
                <th class="p-3 border border-gray-200">إجمالي الدمغه للمطالبة</th>
            </tr>
        </thead>

        <tbody>
            {% for s in page_obj %}
            <tr class="hover:bg-gray-50 transition-all font-medium text-lg">
                <td class="p-3 border border-gray-200 "><a href="{% url 'expected_stamp_detail' s.id %}">{{ s.sector.name }}</a></td>
                <td class="p-3 border border-gray-200 ">{{ s.invoice_date|date:"Y-m-d" }}</td>
                <td class="p-3 border border-gray-200">{{ s.value_of_work|millions }}</td>
                <td class="p-3 border border-gray-200">{{ s.invoice_copies }}</td>
                <td class="p-3 border border-gray-200">{{ s.stamp_rate }}</td>
                <td class="p-3 border border-gray-200  text-blue-700">{{ s.d1|millions }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center p-6 border border-gray-200 text-gray-500">
                    لا توجد بيانات حتى الآن.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <div class="flex justify-center items-center gap-2 py-4">
        {% if page_obj.has_previous %}
            <a href="?{% querystring request page=page_obj.previous_page_number %}"
               class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">‹ السابق</a>
        {% endif %}

        <span class="px-4 py-1 bg-green-100 text-green-800 rounded">
            الصفحة {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?{% querystring request page=page_obj.next_page_number %}"
               class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">التالي ›</a>
        {% endif %}
    </div>
    {% endif %}
</div>

</div>

<div class="mt-8">
        <h2 class="text-2xl font-bold text-green-800 ">
            💰 المعاش المتوقع بالمليون :<span class="text-green-900 text-2xl">{{ total_pension|millions }}</span>
        </h2>
    </div>



{% endblock %}
